html {
	height:100%;
}

body {
	height: 100%;
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM2MGE0YzEiIHN0b3Atb3BhY2l0eT0iMC45Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjE2JSIgc3RvcC1jb2xvcj0iIzY1YTdjNyIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-radial-gradient(center, ellipse cover,  rgba(96,164,193,0.9) 0%, rgba(101,167,199,0.9) 16%, rgba(125,185,232,0) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(96,164,193,0.9)), color-stop(16%,rgba(101,167,199,0.9)), color-stop(100%,rgba(125,185,232,0)));
background: -webkit-radial-gradient(center, ellipse cover,  rgba(96,164,193,0.9) 0%,rgba(101,167,199,0.9) 16%,rgba(125,185,232,0) 100%);
background: -o-radial-gradient(center, ellipse cover,  rgba(96,164,193,0.9) 0%,rgba(101,167,199,0.9) 16%,rgba(125,185,232,0) 100%);
background: -ms-radial-gradient(center, ellipse cover,  rgba(96,164,193,0.9) 0%,rgba(101,167,199,0.9) 16%,rgba(125,185,232,0) 100%);
background: radial-gradient(ellipse at center,  rgba(96,164,193,0.9) 0%,rgba(101,167,199,0.9) 16%,rgba(125,185,232,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e660a4c1', endColorstr='#007db9e8',GradientType=1 );


}

.wrapper {
	min-height: 100%;
	background-color:#3d7ab4;
background-image: linear-gradient(#7aaece 2px, transparent 2px),
linear-gradient(90deg, #7aaece 2px, transparent 2px),
linear-gradient(#73aac9 1px, transparent 1px),
linear-gradient(90deg, #73aac9 1px, transparent 1px);
background-size:160px 160px, 160px 160px, 16px 16px, 16px 16px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px

}

.clear-fix:after {
	content: "";
	display: table;
	clear: both;
}

.center_block {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 960px;
	max-height: 1080px;
	height: 1000px;
	
	background: url(../img/bg6.png) no-repeat center center;
	background-size: contain;
}

.lk {
	width: 6%;
	height: 0%;
	padding-bottom: 4%;
	margin:2.4% auto 0;
	display: block;
}

.logo {
	width: 5%;
	height: 0%;
	padding-bottom: 5%;
	margin:3.6% auto 0;
	display: block;
}

.center_block ul {
	margin: 1.2% auto 0;
}

.center_block ul li {
	position: relative;
	margin-left: 4.47%;
	float: left;
	width: 3.8%;
}

.works:first-child {
	margin-left: 39.92% !important;
}


.center_block ul li:nth-child(2) {
	margin-top: 1%;
}


.center_block ul li a {
	text-align: center;
	display: block;
	width: 100%;
	padding: 24%;
	box-sizing:border-box;
	}

.contacts a div {
	background: url(../img/contacts.svg) no-repeat center center;
	background-size: contain;
}

.contacts a:hover div {
	background: url(../img/works_hover.svg) no-repeat center center;
	background-size: contain;
}

	.works a div {
	background: url(../img/works.svg) no-repeat center center;
	background-size: contain;
}

.works a:hover div {
	background: url(../img/works_hover.svg) no-repeat center center;
	background-size: contain;
}


	.center_block ul li a div {
		width: 100%;
		height: 0%;
		padding-bottom: 100%;
		background-size: contain;
	}
