<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{PAGE_TITLE}</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/style1000.css">
	<link rel="stylesheet" type="text/css" href="css/reset.min.css">
	<link rel="stylesheet" type="text/css" href="css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="css/fonts/Barkentina/barkentina.css">
	<link rel="stylesheet" type="text/css" href="css/slideInDown.css">
	<link rel="stylesheet" type="text/css" href="css/slideInLeft.css">
	<link rel="stylesheet" type="text/css" href="css/slideInRight.css">
	<link rel="stylesheet" type="text/css" href="css/slideInUp.css">
	<link rel="stylesheet" type="text/css" href="css/fadeIn.css">
	<link rel="stylesheet" type="text/css" href="css/bxslider.css">
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
</head>
<body>

<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->

<div class="wrapper animated fadeIn">
	<div class="header">
		<a class="logo" href="/">SiteCore</a>
		{MENU}
	</div>
	<div class="content clear-fix">
		{CONTENT}
	</div>
</div>
<div class="footer animated fadeIn">
	<div class="gear_footer"></div>
	<a href="">Copyright © 2014 SiteCore.ru, All Rights Reserved</a>
</div>
	
</body>
</html>