<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{page_title}</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>


<div class="container clear-fix">

	<div class="header">
	
	{menu}

	</div>
	
	{slider}

	<div class="hello">

	{hello}

	</div>


	<div class="content-block clear-fix">

	{content}

	</div>
	
</div>


<div class="footer">
	<div class="footer-midle"></div>
</div>


	
</body>
</html>