<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{PAGE_TITLE}</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>


<div class="container clear-fix">

	<div class="header">
		{MENU}
	</div>
	
	{SLIDER}

	<div class="hello">
		{HELLO}
	</div>


	<div class="content-block clear-fix">
		{CONTENT}
	</div>
	
</div>


<div class="footer">
	<div class="footer-midle">{COPYRIGHT}</div>
</div>


	
</body>
</html>